@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');

body {
  background-color: #FDF2E3; /* Old Lace */
  color: #0f172a; /* Slate-900 */
  font-family: "BBH Hegarty", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bbh-hegarty-regular {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FDF2E3; /* Old Lace */
}
::-webkit-scrollbar-thumb {
  background: #F8DACE; /* Almond Silk */
  border-radius: 5px;
  border: 2px solid #FDF2E3;
}
::-webkit-scrollbar-thumb:hover {
  background: #CA222A; /* Flag Red */
}